{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}{{ '基本信息'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'base' %}
{% set script_controller = 'course-manage/base' %}
{% set script_arguments = {
categoryUrl: path('category_all'),
tagMatchUrl: path('tag_match'),
locationUrl: path('location_all'),
isCoursePublished: course.status,
} %}
{% block main %}

  {{ ws_client() }}


  <div class="panel panel-default panel-col" style="height: 80%">
    <div class="panel-heading">{{ '聊天界面'|trans }}</div>
    <div id="message-panel" class="panel-body" style="overflow:scroll;overflow-x:hidden;height: 60%;">

      <ul class="nav nav-pills nav-pills-sm">
          <img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: left;margin: 0 10px 0 0;"/>
          <p class="contact__name" style="margin: 0 0 10px;">Ethan Hawke</p>
          <p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763">jdkjfajfjksdjf</p>
      </ul>

      <ul class="nav nav-pills nav-pills-sm" style="text-align: right;">
          <img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>
          <p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>
          <p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>
      </ul>

      <ul class="nav nav-pills nav-pills-sm">
        <p style="text-align: center;">12:30</p>
        </ul>

      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}


      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}

    </div>
    <div class="panel-footer">
      <form class="form-horizontal" id="message" method="post">
      <textarea id="message" name="message" required="required"
                class="form-control"></textarea>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
      {#<div class="col-md-offset-2 col-md-8 controls">#}
        <button class="btn btn-fat btn-primary form-control" id="message-send-btn" type="submit">{{ '发送'|trans }}</button>
      {#</div>#}
    </div>
  </div>
  <script type="text/javascript">
    $("#message-send-btn").click(function () {
      var html = '<ul class=\"nav nav-pills nav-pills-sm\" style=\"text-align: right;\">';
      {% if user.smallAvatar|default("") == "" %}
      html += '<img src=\"{{ asset('assets/img/avatar/1.png') }}\" class=\"contact__photo\" style=\"float: right;margin: 0 0 0 10px;\"/>';
      {% else %}
      html += '<img src=\"{{ user.smallAvatar }}\" class=\"contact__photo\" style=\"float: right;margin: 0 0 0 10px;\"/>';
      {% endif %}
      html += '<p class=\"contact__name\" style=\"text-align: right;margin: 0 0 10px;\">{{ user.nickname|default(null) }}</p>';
      html += '<p class=\"contact__content\" style=\"display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;\">'+ $("textarea#message").val() +'</p></ul>';
      $("#message-panel").append(html);
//      $("textarea#message").val('');
    });
  </script>

  <script type="text/javascript">
    var websocket = WS.connect("ws://127.0.0.1:1337");

    websocket.on("socket/connect", function(session){
      session.subscribe("acme/channel/1", function(uri, payload){
        console.log("Received message and show", payload.msg);

        showLeftMessage(payload.fromId);
      });

      session.call("sample/sum", {"term1": 2, "term2": 5}).then(
              function(result)
              {
                console.log("RPC Valid!", result);
              },
              function(error, desc)
              {
                console.log("RPC Error", error, desc);
              }
      );

//      session.publish("acme/channel", {msg: "This is a message!"});
//
//      session.publish("acme/channel", {msg: "I'm leaving, I will not see the next message"});
//
//      session.unsubscribe("acme/channel");
//
//      session.publish("acme/channel", {msg: "I won't see this"});
//
//      session.subscribe("acme/channel", function(uri, payload){
//        console.log("Received message", payload.msg);
//      });
//      session.publish("acme/channel", {msg: "I'm back!"});

      $("#message-send-btn").click(function () {
        var id = $("textarea#message").val();
        alert(id);
        var exclude = new Array(1);
        exclude[0] = id;
        session.publish("acme/channel/1", {msg: "I send a message!"},new Array(),exclude);
      });
    });

    websocket.on("socket/disconnect", function(error){
      //error provides us with some insight into the disconnection: error.reason and error.code

      console.log("Disconnected for " + error.reason + " with code " + error.code);
    });

    function showLeftMessage(message) {
      var html = '<ul class="nav nav-pills nav-pills-sm">';

      html += ' <img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: left;margin: 0 10px 0 0;"/>';

      html += '<p class="contact__name" style="margin: 0 0 10px;">Ethan Hawke</p>';
      html += '<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763">'+ message +'</p></ul>';
      $("#message-panel").append(html);
    }
  </script>
{% endblock %}



