{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}{{ '基本信息'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'base' %}
{% set script_controller = 'course-manage/base' %}
{% set script_arguments = {
categoryUrl: path('category_all'),
tagMatchUrl: path('tag_match'),
locationUrl: path('location_all')
} %}
{% block main %}

  {{ ws_client() }}


  <div class="panel panel-default panel-col" style="height: 80%">
    <div id="pannel-header" class="panel-heading" style="text-align: center;">
      {{ '聊天界面'|trans }}
      {#<p style="text-align: center;">聊天界面</p>#}
    </div>
    <div id="message-panel" class="panel-body active" style="overflow:scroll;overflow-x:hidden;height: 60%;">

    </div>
    {#<div id="message-panel-1" class="panel-body hidden" style="overflow:scroll;overflow-x:hidden;height: 60%;">#}

      {#<ul class="nav nav-pills nav-pills-sm">#}
          {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: left;margin: 0 10px 0 0;"/>#}
          {#<p class="contact__name" style="margin: 0 0 10px;">Ethan Hawke</p>#}
          {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763">jdkjfajfjksdjf</p>#}
      {#</ul>#}

      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
          {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
          {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
          {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}

      {#<ul class="nav nav-pills nav-pills-sm">#}
        {#<p style="text-align: center;">12:30</p>#}
        {#</ul>#}

      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}


      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}

    {#</div>#}
    {#<div id="message-panel-2" class="panel-body active" style="overflow:scroll;overflow-x:hidden;height: 60%;">#}

      {#<ul class="nav nav-pills nav-pills-sm">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: left;margin: 0 10px 0 0;"/>#}
        {#<p class="contact__name" style="margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763">jdkjfajfjksdjf</p>#}
      {#</ul>#}

      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
        {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
        {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
        {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}

      {#<ul class="nav nav-pills nav-pills-sm">#}
        {#<p style="text-align: center;">12:30</p>#}
      {#</ul>#}

      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
      {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
      {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
      {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}


      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
      {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
      {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
      {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
      {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
      {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
      {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
      {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
      {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
      {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
      {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
      {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
      {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
      {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
      {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
      {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}
      {#<ul class="nav nav-pills nav-pills-sm" style="text-align: right;">#}
      {#<img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: right;margin: 0 0 0 10px;"/>#}
      {#<p class="contact__name" style="text-align: right;margin: 0 0 10px;">Ethan Hawke</p>#}
      {#<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;">jdkjfajfjksdjf</p>#}
      {#</ul>#}

    {#</div>#}
    <div class="panel-footer">
      <form class="form-horizontal" id="message" method="post">
      <textarea id="message" name="message" required="required"
                class="form-control"></textarea>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
      {#<div class="col-md-offset-2 col-md-8 controls">#}
        <button class="btn btn-fat btn-primary form-control" id="message-send-btn" type="submit">{{ '发送'|trans }}</button>
      {#</div>#}
    </div>
  </div>
  {#<script type="text/javascript">#}
    {#$("#message-send-btn").click(function () {#}
      {#var html = '<ul class=\"nav nav-pills nav-pills-sm\" style=\"text-align: right;\">';#}
      {#{% if user.smallAvatar|default("") == "" %}#}
      {#html += '<img src=\"{{ asset('assets/img/avatar/1.png') }}\" class=\"contact__photo\" style=\"float: right;margin: 0 0 0 10px;\"/>';#}
      {#{% else %}#}
      {#html += '<img src=\"{{ user.smallAvatar }}\" class=\"contact__photo\" style=\"float: right;margin: 0 0 0 10px;\"/>';#}
      {#{% endif %}#}
      {#html += '<p class=\"contact__name\" style=\"text-align: right;margin: 0 0 10px;\">{{ user.nickname|default(null) }}</p>';#}
      {#html += '<p class=\"contact__content\" style=\"display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;\">'+ $("textarea#message").val() +'</p></ul>';#}
      {#$("#message-panel-1").append(html);#}
{#//      $("textarea#message").val('');#}
    {#});#}
   {#/* $("#test").click(function () {#}
     {#$("#message-panel-1").removeClass('hidden');#}
     {#$("#message-panel-1").addClass('active');#}
     {#$("#message-panel-2").removeClass('active');#}
     {#$("#message-panel-2").addClass('hidden');#}
     {#});*/#}
  {#</script>#}

  <script type="text/javascript">
    var websocket = WS.connect("ws://127.0.0.1:1337");

    websocket.on("socket/connect", function(session){
      var channel = 'acme/channel/' + {{ user.id }};
      session.subscribe(channel, function(uri, payload){
        console.log("Received message and show", payload.msg);

        showLeftMessage(payload);
      });

      session.call("sample/sum", {"term1": 2, "term2": 5}).then(
              function(result)
              {
                console.log("RPC Valid!", result);
              },
              function(error, desc)
              {
                console.log("RPC Error", error, desc);
              }
      );

//      session.publish("acme/channel", {msg: "This is a message!"});
//
//      session.publish("acme/channel", {msg: "I'm leaving, I will not see the next message"});
//
//      session.unsubscribe("acme/channel");
//
//      session.publish("acme/channel", {msg: "I won't see this"});
//
//      session.subscribe("acme/channel", function(uri, payload){
//        console.log("Received message", payload.msg);
//      });
//      session.publish("acme/channel", {msg: "I'm back!"});

      $("#message-send-btn").click(function () {
        var html = '<ul class=\"nav nav-pills nav-pills-sm\" style=\"text-align: right;\">';
        {% if user.smallAvatar|default("") == "" %}
        html += '<img src=\"{{ asset('assets/img/avatar/1.png') }}\" class=\"contact__photo\" style=\"float: right;margin: 0 0 0 10px;\"/>';
        {% else %}
        html += '<img src=\"{{ user.smallAvatar }}\" class=\"contact__photo\" style=\"float: right;margin: 0 0 0 10px;\"/>';
        {% endif %}
        html += '<p class=\"contact__name\" style=\"text-align: right;margin: 0 0 10px;\">{{ user.nickname|default(null) }}</p>';
        html += '<p class=\"contact__content\" style=\"display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763;\">'+ $("textarea#message").val() +'</p></ul>';
        var selector = '#message-panel-' + $("#friend-id").val();
        $(selector).append(html);

        var message = $("textarea#message").val();
//        var exclude = new Array(1);
//        exclude[0] = id;
        var fromId = {{ user.id }};
        var toId = $("#friend-id").val();
        var toChannel = 'acme/channel/' + toId;
        session.publish(toChannel, {fromId: fromId, msg: message});
//        $("#message-panel-2").removeClass('hidden');
//        $("#message-panel-2").addClass('active');
//        $("#message-panel-1").removeClass('active');
//        $("#message-panel-1").addClass('hidden');
      });
    });

    websocket.on("socket/disconnect", function(error){
      //error provides us with some insight into the disconnection: error.reason and error.code

      console.log("Disconnected for " + error.reason + " with code " + error.code);
    });

    function showLeftMessage(content) {
//      alert(content.fromId + "===" + content.msg);
      var html = '<ul class="nav nav-pills nav-pills-sm">';

      var listItemSelector = '#list-item-' + content.fromId;
      var picture = $(listItemSelector).find('input#picture').val();
      if (picture == null || picture == "") {
        html += ' <img src="{{ asset('assets/img/avatar/1.png') }}" alt="" class="contact__photo" style="float: left;margin: 0 10px 0 0;"/>';
      } else {
        html += '<img src="' + picture + '"  class="contact__photo" style="float: left;margin: 0 10px 0 0;"/>';
      }

      html += '<p class="contact__name" style="margin: 0 0 10px;">' + $(listItemSelector).find('input#nickname').val() + '</p>';
      html += '<p class="contact__content" style="display: inline-block;padding: 10px 15px;border-radius: 5px;background: #93C763">'+ content.msg +'</p></ul>';

      var showPannelselector = '#message-panel-' + content.fromId;
      $(showPannelselector).append(html);
    }
  </script>
{% endblock %}



